<div class="row">
  <div class="col-sm-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="搜尋股東">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </span>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="搜尋公司">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <button type="button" class="btn btn-block btn-primary btn-lg">新增股東</button>
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-block btn-success btn-lg">新增股票交易</button>
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-block btn-danger btn-lg">股票交易列表</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <%= link_to "新增公司", new_company_path, class: "btn btn-block btn-primary btn-lg"%>
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-block btn-success btn-lg">新增公司增資</button>
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-block btn-danger btn-lg">公司增資列表</button>
  </div>
</div>