# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.Ignore
/log/*
!/log/.keep
/tmp
spring-1000/
RackMultipart*

# Ignore upload files
public/uploads/
public/assets/

# Ignore db schema
/db/schema.rb