      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">公司人員</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <strong>公司</strong>
            <input type="text" class="form-control" placeholder="Recipient's username" name="staff[company_id][]">
          </div>
          
          <div class="form-group">
            <strong>職稱</strong>
            <input type="text" class="form-control" name='staff[job_title][]'>
          </div>
          <div class="form-group">
             <strong>ID</strong>
            <input type="text" class="form-control" name='staff[stockholder_id][]'>
          </div>
          <div class="form-group">
             <strong>名字</strong>
            <input type="text" class="form-control" name='staff[name][]'>
          </div>
        </div>
      </div>
  