<div>
  <h2><strong>已完成合約</strong></h2>
  <table class="table table-hover text-center">
    <thead>
      <tr>
     	  <th class="text-center">股東姓名</th>
     	  <th class="text-center">投資金額/幣別</th>
     	  <th class="text-center">每股面額/幣別</th>
     	  <th class="text-center">股數</th>
        <th class="text-center">資料列印</th>
        <th class="text-center">買方簽署日</th>
        <th class="text-center">賣方簽署日</th>
        <th class="text-center">合約生效日</th>
        <th class="text-center">合約狀態</th>
        <th class="text-center">日期</th>
        <th class="text-center">備註</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</div>

<div>
  <h2><strong>進行中合約</strong></h2>
  <table class="table table-hover text-center">
    <thead>
      <tr>
    	  <th class="text-center">股東姓名</th>
     	  <th class="text-center">投資金額/幣別</th>
     	  <th class="text-center">每股面額/幣別</th>
     	  <th class="text-center">股數</th>
        <th class="text-center">資料列印</th>
        <th class="text-center">買方簽署日</th>
        <th class="text-center">賣方簽署日</th>
        <th class="text-center">合約生效日</th>
        <th class="text-center">合約狀態</th>
        <th class="text-center">日期</th>
        <th class="text-center">備註</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</div>

<div>
  <h2><strong>待補合約</strong></h2>
  <table class="table table-hover text-center">
    <thead>
      <tr>
    	  <th class="text-center">股東姓名</th>
     	  <th class="text-center">投資金額/幣別</th>
     	  <th class="text-center">每股面額/幣別</th>
     	  <th class="text-center">股數</th>
        <th class="text-center">資料列印</th>
        <th class="text-center">買方簽署日</th>
        <th class="text-center">賣方簽署日</th>
        <th class="text-center">合約生效日</th>
        <th class="text-center">合約狀態</th>
        <th class="text-center">日期</th>
        <th class="text-center">備註</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</div>