<table class="table table-bordered text-center">
  <thead>
    <tr>
   	  <th>買方</th>
   	  <th>賣方</th>
   	  <th>發行公司</th>
   	  <th>股票類型</th>
   	  <th>數量</th>
      <th>面額</th>
      <th>幣別</th>
      <th>日期</th>
      <th>意向書</th>
      <th>Regular S</th>
   	  <th>USD合約</th>
   	  <th>RMB合約</th>
   	  <th>購買協議</th>
   	  <th>W8BEN</th>
   	  <th>換股協議</th>
   	  <th>聲明書</th>
   	  <th>買</th>
   	  <th>賣</th>
   	  <th>編輯</th>
    </tr>
  </thead>
  <tbody>
    <tr>
   	  <td>A公司</td>
   	  <td>Maroon5</td>
   	  <td>Asia Training</td>
   	  <td>優先股</td>
   	  <td>200</td>
   	  <td>4</td>
   	  <td>ntd</td>
   	  <td>2014-10-21</td>
   	  
   	  <td><span class="glyphicon glyphicon-ok" ></span></td>
   	  <td><span class="glyphicon glyphicon-minus" ></span></td>
   	  <td><span class="glyphicon glyphicon-remove" ></span></td>
   	  <td><span class="glyphicon glyphicon-ok" ></span></td>
   	  <td><span class="glyphicon glyphicon-minus" ></span></td>
   	  <td><span class="glyphicon glyphicon-ok" ></span></td>
   	  <td><span class="glyphicon glyphicon-remove" ></span></td>
   	  <td><span class="glyphicon glyphicon-minus" ></span></td>
   	  
   	  <td><input type="checkbox" id="blankCheckbox" value="option1"></td>
   	  <td><input type="checkbox" id="blankCheckbox" value="option1"></td>
   	  
   	  <td><button type="button" class="btn btn-primary btn-xs">Edit</button></td>
    </tr>
    <tr>
   	  <td>A公司</td>
   	  <td>Maroon5</td>
   	  <td>Asia Training</td>
   	  <td>優先股</td>
   	  <td>200</td>
   	  <td>4</td>
   	  <td>ntd</td>
   	  <td>2014-10-21</td>
   	  
   	  <td><span class="glyphicon glyphicon-ok" ></span></td>
   	  <td><span class="glyphicon glyphicon-minus" ></span></td>
   	  <td><span class="glyphicon glyphicon-remove" ></span></td>
   	  <td><span class="glyphicon glyphicon-ok" ></span></td>
   	  <td><span class="glyphicon glyphicon-minus" ></span></td>
   	  <td><span class="glyphicon glyphicon-ok" ></span></td>
   	  <td><span class="glyphicon glyphicon-remove" ></span></td>
   	  <td><span class="glyphicon glyphicon-minus" ></span></td>
   	  
   	  <td><input type="checkbox" id="blankCheckbox" value="option1"></td>
   	  <td><input type="checkbox" id="blankCheckbox" value="option1"></td>
   	  
   	  <td><button type="button" class="btn btn-primary btn-xs">Edit</button></td>
    </tr>
    <tr>
   	  <td>A公司</td>
   	  <td>Maroon5</td>
   	  <td>Asia Training</td>
   	  <td>優先股</td>
   	  <td>200</td>
   	  <td>4</td>
   	  <td>ntd</td>
   	  <td>2014-10-21</td>
   	  
   	  <td><span class="glyphicon glyphicon-ok" ></span></td>
   	  <td><span class="glyphicon glyphicon-minus" ></span></td>
   	  <td><span class="glyphicon glyphicon-remove" ></span></td>
   	  <td><span class="glyphicon glyphicon-ok" ></span></td>
   	  <td><span class="glyphicon glyphicon-minus" ></span></td>
   	  <td><span class="glyphicon glyphicon-ok" ></span></td>
   	  <td><span class="glyphicon glyphicon-remove" ></span></td>
   	  <td><span class="glyphicon glyphicon-minus" ></span></td>
   	  
   	  <td><input type="checkbox" id="blankCheckbox" value="option1"></td>
   	  <td><input type="checkbox" id="blankCheckbox" value="option1"></td>
   	  
   	  <td><button type="button" class="btn btn-primary btn-xs">Edit</button></td>
    </tr>
  </tbody>
</table>
