<% if !flash.empty? %>
  <div class="alert alert-danger">
    <ul class="custom-list">
      <% flash.each do |key, value| %>
        <li ><%= value %></li>
      <% end %>
    </ul>
  </div>
<% end %>